<h1>Doc#edit(ドキュメント更新画面)</h1>

<%= form_for @doc do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.fields_for :doc_category do |category| %>
      <%= category.label :name, 'カテゴリ名' %>
      <%#= category.collection_select :name, category.all, :id, :name %>
      <%= category.text_field :name %>
    <% end %>

    <%= f.text_area :body, {id: 'doc-update'} %>
    <%= f.submit "Save Document" %>
<% end %>

<script type="text/javascript">
    var simplemde = new SimpleMDE({ element: document.getElementById("doc-new") });
</script>