<h1>Doc#new(ドキュメント作成画面)</h1>

<%= simple_form_for(@doc) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.text_area :body, as: :pagedown, input_html: { preview: true, rows: 20 } %>
    <%= f.submit "Save Document" %>
<% end %>
